@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Murecho&display=swap');


*{
    margin: 0;
    padding: 0;
}

abbr{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-around;

}

nav img{
    width: 190px;
    
}

/* nav ul{
    margin-left :200px;
} */

nav ul li{
    display: inline-block;
    margin:20px
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(184, 0, 0);
    position: relative;
    text-shadow: 1PX 1PX rgba(36, 36, 36, 0.178) ;
}

nav ul li a::before{
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(184, 0, 0);
    border-radius: 25px;
    bottom: -5px;
    left: 0;
    transition: width 0.6s;
    position: absolute;
}

nav ul li a:hover::before{
    width: 100%;
}
.fa{
    margin-right: 8px;   
}


/* ============================================== */
.category{
    margin-bottom: 30px;
}
.category h5{
    font-weight: bold;
    margin-left: 50px;
}

/* =============================================== */
.description{
    margin: 20px 50px;
}

.description h3{
    padding-bottom: 15px;
    font-size: 30px;
    color: rgb(184, 0, 0);
    font-family: lobster;
}
/* ================================================ */
/* .shop-container{
    max-width: 93%;
    margin: 50px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
} */

.shop-container{
    max-width: 93%;
    margin: 50px auto;
    display: grid;
    gap: 15px;

    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
}

.game1{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border: 1px solid #000;
    transition: transform 0.5s;
    max-width: 300px;
}
.game1:hover{
    transform: scale(102%);
}

.game1 ul{
    line-height: 40px;
    text-align: left;
}
.game1 ul li:first-child{
    padding: 8px 0;
    text-align: center;
}
.game1 ul li {
    list-style-type: none;
    padding: 0 20px;
}

.game1 img{
    width: 240px;
    height: 180px;
    margin: auto 8px;
}

.game1 ul li p:first-child{
    font-size: 15px;
}

.game1 ul li:nth-child(5){
    font-size: 14px;
    color: rgb(0, 190, 0);
}

.game1 ul li h5{
    color: rgb(99, 99, 99);
}

.game1 ul li:last-child{
    margin: 20px 5px;
    transform-origin: center center;
    -webkit-transform: translateX(calc(50% - 75px));
        -moz-transform: translateX(calc(50% - 75px));
            transform: translateX(calc(50% - 75px)); 
}

.game1 ul li a:hover:last-child{
    background-color: rgb(184, 0, 0);
}

.game1 ul li a{ 
    padding:10px 16px;
    border: none;
    border-radius:20px;
    background-color: rgb(106, 144, 250);
    color:rgb(255, 255, 255);
    text-decoration: none;
}

@media (max-width : 575px) {
    .shop-container{
    grid-template-columns: repeat(1, 1fr);
    }
    .game1{
        width: 260px;
        margin: 0 auto;
    }
    nav ul {
        display:none;
    }
}
